.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    'head head head aside';
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 1rem;
}
main{
    /* background-color: red; */
    grid-area: head;
}
main article img{
    max-height: 15rem;
    width: 100%;
}
.main__content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
}

.main__content h1{
    font-size: var(--size-4xl);
    max-width: 190px;
    color: var(--clr-veryDarkBlue);
    font-weight: 800;
}

.main__content-left{
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}

.main__content-left p{
    color: var(--clr-darkGrayishBlue);
    display: block;
    margin-bottom: 1.5rem;
}

.main__content-left a{
    color: var(--clr-offWhite);
    background-color: var(--clr-red);
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s;
}

.main__content-left a:hover{
    background-color: var(--clr-veryDarkBlue);
    cursor: pointer;
}

aside{
    background-color: var(--clr-veryDarkBlue);
    color: var(--clr-offWhite);
    grid-area: aside;
    padding: 1.7rem;
    width: 20rem;
}
.aside__title{
    color: var(--clr-softOrange);
    margin-bottom: 1rem;
}
.aside__subtitles{
    font-size: var(--size-sm);
    margin-bottom: 0.5rem;
    transition: color .3s;
}
.aside__subtitles:hover{
    color: var(--clr-softOrange);
    cursor: pointer;
}
.aside__descriptions{
    font-size: var(--size-xs);
    color: var(--clr-darkGrayishBlue);
}

.line{
    border-top: 0.1rem solid var(--clr-darkGrayishBlue);
    margin: 2rem 0;
}


/* 
@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: minmax(200px, 1fr);
        grid-template-areas:
        'head'
        'aside';
    }
} */
