.container{
    padding-bottom: 10rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    'head head head aside';
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 1rem;
}
.mobile-img{
    display: none;
}
main{
    grid-area: head;
}
main article img{
    max-height: 18rem;
    width: 100%;
}
.main__content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    margin-top: 2rem;
    align-items: start;
}

.main__content h1{
    font-size: var(--size-5xl);
    color: var(--clr-veryDarkBlue);
    font-weight: 800;
}

.main__content-left p{
    color: var(--clr-darkGrayishBlue);
    display: block;
    margin-bottom: 3rem;
}

.main__content-left a{
    color: var(--clr-offWhite);
    background-color: var(--clr-red);
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s;
    display: inline-block;
}

.main__content-left a:hover{
    background-color: var(--clr-veryDarkBlue);
    cursor: pointer;
}

aside{
    background-color: var(--clr-veryDarkBlue);
    color: var(--clr-offWhite);
    grid-area: aside;
    padding: 1.7rem;
    width: 20rem;
}
.aside__title{
    color: var(--clr-softOrange);
    margin-bottom: 1rem;
    font-size: var(--size-3xl);
}
.aside__subtitles{
    font-size: var(--size-lg);
    margin-bottom: 0.5rem;
    transition: color .3s;
}
.aside__subtitles:hover{
    color: var(--clr-softOrange);
    cursor: pointer;
}
.aside__descriptions{
    font-size: var(--size-sm);
    color: var(--clr-darkGrayishBlue);
}

.line{
    border-top: 0.1rem solid var(--clr-darkGrayishBlue);
    margin: 2rem 0;
}

@media (max-width:1024px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'head'
        'aside';
        margin-left: 6rem;
        margin-right: 6rem;
        gap: 1rem;
    }
    aside{
        width: auto;
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .mobile-img{
        display: inline-block;
        
    }
    .desktop-img{
        display: none;
    }
}

@media (max-width: 640px) {
    .grid{
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0 2rem;
        align-items: center;
        justify-content: center;
    }
    main{
        grid-area: head;
    }
    main article img{
        max-height: 18rem;
        width: 100%;
    }
    .main__content h1{
        font-size: var(--size-5xl);
        color: var(--clr-veryDarkBlue);
        font-weight: 800;
    }
    
    .main__content-left p{
        color: var(--clr-darkGrayishBlue);
        display: block;
        margin-bottom: 3rem;
    }
    
    .main__content-left a{
        color: var(--clr-offWhite);
        background-color: var(--clr-red);
        padding: 1em 2em;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: background-color 0.3s;
        display: inline-block;
    }
    
    .main__content-left a:hover{
        background-color: var(--clr-veryDarkBlue);
        cursor: pointer;
    }
    
    .aside__title{
        color: var(--clr-softOrange);
        margin-bottom: 1rem;
        font-size: var(--size-3xl);
    }
    .aside__subtitles{
        font-size: var(--size-lg);
        margin-bottom: 0.5rem;
        transition: color .3s;
    }
    .aside__subtitles:hover{
        color: var(--clr-softOrange);
        cursor: pointer;
    }
    .aside__descriptions{
        font-size: var(--size-sm);
        color: var(--clr-darkGrayishBlue);
    }
    
    .line{
        border-top: 0.1rem solid var(--clr-darkGrayishBlue);
        margin: 2rem 0;
    }
}

@media (max-width:375px) {
    .grid{
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
        'head'
        'aside';
        align-items: center;
        justify-content: center;
        padding: 0 2rem ;
    }
    .main__content{
        margin-top: 1rem;
        gap: 1rem;
    }
    .main__content h1{
        font-size: var(--size-4xl);
        font-weight: 800;
    }
    .main__content-left p{
        color: var(--clr-darkGrayishBlue);
        margin-bottom: 1rem;
    }
    
    .main__content-left a{
        color: var(--clr-offWhite);
        background-color: var(--clr-red);
        padding: 1em 2em;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: background-color 0.3s;
        display: inline-block;
    }
    
    .main__content-left a:hover{
        background-color: var(--clr-veryDarkBlue);
        cursor: pointer;
    }
    
    aside{
        margin-top: 3rem;
    }
}
