footer{
    display: flex;
    margin: 5rem 10rem;
    flex-wrap: wrap;
    gap: 2rem;

}

.footer__item{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1rem;
    align-items: start;
    flex: 1;
    width: 5rem;
    min-width: 18rem;
}

.footer__item-content{

}

.footer__item-content_count{
    color: var(--clr-grayishBlue);
    font-size: var(--size-3xl);
    letter-spacing: 0.1rem;
    margin-bottom: .7rem;
    font-weight: 700;
}
.footer__item-content_title{
    color: var(--clr-veryDarkGrayishBlue);
    font-weight: 800;
    margin-bottom: .7rem;
    transition: color 0.3s;
    font-size: var(--size-base);

}
.footer__item-content_title:hover{
    color: var(--clr-red);
    cursor: pointer;
}
.footer__item-content_description{
    color: var(--clr-darkGrayishBlue);
    font-size: var(--size-sm);
    font-weight: 400;
}

@media (max-width: 1024px) {
    footer{
        margin: 2rem 6rem;
        gap: 2rem;
    }
}

@media (max-width:640px) {
    footer{
        padding: 0 2rem;
        margin: 2rem 0rem;
        gap: 2rem;
    }
}

@media (max-width:375px) {
    footer{
        margin: 4rem 0rem;
        gap: 2rem;
        padding: 0 2rem;
    }
}